[Unit]
Description=Shutdown the raspberry pi with the stop button using GPIO
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/raspberry-scripts/shutdown_button.py

[Install]
WantedBy=multi-user.target
